<!DOCTYPE html>
<html lang='en' ng-app="CardsAgainstAssembly">

<head>
    <meta charset="utf-8">
    <title>Cards Against Assembly™</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/components/answerCards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
</head>

<body ng-controller="CardsCtrl">
    <div class="container-fluid">
        <header class='navbar'>
            <div>
                <a href="/#/about/">About</a>
                <a href="/#/">Play</a>
            </div>
            <h1 class='pull-left'>Cards Against Assembly</h1>
        </header>
        <button ng-click="newQuestion()" class="btn btn-lg btn-primary">Start Next Round</button>
        <div class="well">
            <h2>How many people are playing?</h2>
            <input type="number" ng-model="numPlayers">
        </div>
        <section id="cards" class='container-fluid'>
            <div class='row'>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>The Question:</h2>
                    <div class=' card '>
                        <h4 class="card-title">{{ displayCard }}</h4>
                        <h6>Cards Against Assembly</h6>
                    </div>
                </div>
                <div class="col-xs-12-sm-12-md-3-lg-3">
                    <!-- Answer Cards Get Rendered Here -->
                    <answer-cards></answer-cards>
                </div>
            </div>
        </section>
        <footer>
            <p>Made with <span class='heart '>♥︎</span> at General Assembly</p>
        </footer>
    </div>
</body>

</html>
